In [6]:
#1. 라이브러리 설치 오라클 연동 라이브러리 설치하기
! pip install cx_oracle

Requirement already satisfied: cx_oracle in c:\programdata\anaconda3\lib\site-packages (8.1.0)

In [ ]:
# https://www.oracle.com/kr/database/technologies/instant-client/downloads.html

In [3]:
import os
# path = 'c:\\instantclient_19_10' #윈도우 방식의 구조
# path = 'c:/instantclient_19_10' #리눅스 계열의 방식
path = r'c:\instantclient_19_10' #raw로 하면 \
os.environ["PATH"] = path + ";" +os.environ["PATH"]
os.environ["PATH"]

'c:\\instantclient_19_10;C:\\ProgramData\\Anaconda3;C:\\ProgramData\\Anaconda3\\Library\\mingw-w64\\bin;C:\\ProgramData\\Anaconda3\\Library\\usr\\bin;C:\\ProgramData\\Anaconda3\\Library\\bin;C:\\ProgramData\\Anaconda3\\Scripts;C:\\ProgramData\\Anaconda3\\bin;C:\\ProgramData\\Anaconda3\\condabin;C:\\ProgramData\\Anaconda3;C:\\ProgramData\\Anaconda3\\Library\\mingw-w64\\bin;C:\\ProgramData\\Anaconda3\\Library\\usr\\bin;C:\\ProgramData\\Anaconda3\\Library\\bin;C:\\ProgramData\\Anaconda3\\Scripts;C:\\oraclexe\\app\\oracle\\product\\11.2.0\\server\\bin;C:\\Program Files\\Common Files\\Oracle\\Java\\javapath;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0;C:\\Windows\\System32\\OpenSSH;C:\\Program Files (x86)\\NVIDIA Corporation\\PhysX\\Common;C:\\Program Files\\NVIDIA Corporation\\NVIDIA NvDLISR;C:\\Program Files\\Java\\jdk-15.0.2\\bin;C:\\Program Files (x86)\\Brackets\\command;C:\\Program Files\\dotnet;C:\\Program Files\\nodejs;C:\\Program Files\\ojdkbuild\\java-11-openjdk-11.0.10-1\\bin;C:\\Program Files\\Git\\cmd;C:\\Users\\freew\\AppData\\Local\\Android\\Sdk\\platform-tools;C:\\Program Files\\MySQL\\MySQL Shell 8.0\\bin;C:\\Users\\freew\\AppData\\Local\\Microsoft\\WindowsApps;C:\\Program Files\\Bandizip;C:\\Users\\freew\\AppData\\Roaming\\npm;C:\\Users\\freew\\AppData\\Local\\Programs\\Microsoft VS Code\\bin;C:\\Users\\freew\\AppData\\Local\\GitHubDesktop\\bin'

In [7]:
import cx_Oracle as ora # 라이브러리 추가한후 ora로 변경
# 아이디/암호@서버주소:포트번호/SID
conn = ora.connect('id120/pw120@1.234.5.158:11521/xe')
conn

In [8]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM BOARDTBL")
rows = cursor.fetchall();
# a = [(),(),()]
# a = [{},{},{}] # http://ihongss.com/json/exam2.json

print(type(rows))
print(len(rows))

# tuple a = (1,2,3)
# list a = [1,2,3]
print(type(rows[0]))
print(rows[0][0])

len(rows)

<class 'list'>
7
<class 'tuple'>
70

7

In [36]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM BOARDTBL")
rows = cursor.fetchall();
rows
len(rows)

11

In [37]:
for i in rows: # 리스트
    print(i[0], i[1], i[2]) # 튜플

70 1 <p>ㅎㄹㄴㅇㅎㄹ</p>
60 sdaf <p>asfd</p>
61 asfd <p>sdfasfdasfd</p>
63 1313 <p>131313</p>
52 제목 내용
42 제목 내용
102 제목 내용
103 제목2 내용2
62 asdf <p>fdsaasdfsfad</p>
73 11 <p>22</p>
72 2 <p>62</p>

In [21]:
cursor = conn.cursor()
sql = """
        INSERT INTO BOARDTBL(BRDNO, BRDTITLE, BRDCONTENT, BRDHIT, BRDWRITER, BRDDATE) VALUES(:1,:2,:3,:4,:5, CURRENT_DATE)
      """
arr = [103, '제목', '내용', 1, '작성자']
cursor.execute(sql, arr)
conn.commit()

In [25]:
cursor = conn.cursor()
sql = """
        INSERT INTO BOARDTBL(BRDNO, BRDTITLE, BRDCONTENT, BRDHIT, BRDWRITER, BRDDATE)
        VALUES( :no, :ti, :co, :hi, :wr, CURRENT_DATE)
      """
cursor.execute(sql, no=104, ti='제목1', co='내용2', hi=3, wr='작성자3')
conn.commit()

In [32]:
cursor = conn.cursor()
sql = """
        DELETE FROM BOARDTBL WHERE BRDNO = :no
"""
cursor.execute(sql, no=104)
conn.commit()

In [35]:
cursor = conn.cursor()
sql = """
        UPDATE BOARDTBL SET BRDTITLE=:ti, BRDCONTENT=:co, BRDHIT =:hi, BRDWRITER=:wi WHERE BRDNO= :no
"""
cursor.execute(sql, ti='제목2', co='내용2', hi=5, wi='작성자4', no=103)
conn.commit()